* {
    background-color: white;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    text-align: center;
    margin-right: 100px;
    margin-left: 10px;
}

a {
    color: black;
}

h1 {
    margin-right: 50px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.secondFifthThirdAndYAndSixth {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-left: 50px;
    text-align: left;
}

.secondAndFifth {
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: left;
}

.fifth {
    margin-top: 40px;
    margin-bottom: 40px;
}

.third {
    width: 525px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
}

.fourth {
    min-width: 350px;
    flex-wrap: nowrap;
    margin-right: 50px;
    text-align: right;
}

.yAndSixth {
    display: flex;
    flex-direction: row;
}
.y {
    text-align: center;
    margin-top: 50px;
}

.sixth {
    text-align: right;
    margin-right: 50px;
}
