* {
    background-color: #F5F2E8;
}

.first {
    display: inline-grid;
    grid-template-columns: 550px 870px;
}

h1 {
    text-align: right;
    margin-right: 50px;
}

.body, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu {
    display: grid;
    grid-auto-flow: column;
}

.menu, li {
    line-height: 80px;
    text-align: center;
    text-after-overflow: hidden;

}

a {
    color: black;
}

.main {
    display: inline-grid;
    grid-template-columns: 1020px 400px;
}

.secondAndFifth {
    display: inline-grid;
    grid-template-columns: 400px;
}

.secondAndFifth > div {
    text-align: left;
    margin-left: 50px;
    margin-bottom: 40px;
}

.third {
    display: inline-grid;
    grid-template-columns:525px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.fourth {
    grid-template-columns:400px;
    text-align: right;
    margin-right: 50px;
}

.yAndSixth {
    display: inline-grid;
    grid-template-columns: 160px 859px;
}

.y {
    text-align: left;
    margin-left: 50px;
    margin-top: 45px;
}

.sixth {
    text-align: right;
    margin-right: 50px;
}
